<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Access Denied ~ Play DoIT!</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <meta name="description" content="DoIT! A Multiplayer question game!">
    <meta property="og:title" content="DoIT! A Multiplayer question game!">
    <meta property="og:description" content="DoIT! A Multiplayer question game!">
    <meta property="og:type" content="website">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<style>
body{
    background-color: aquamarine;
}
.crimson {
    color: crimson;
}
</style>
<body>
<h1>DoIT!</h1>
<center>
<div id="main">

</div>
</center>
</body>
</html>